{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Sign_in/signin.css' %}">
    <title>Singin</title>
</head>
<body>
    <fieldset>
        <div class="container">
            {% if is_auth %}
            <p class='error'>Usúario ou senha invalidos</p> 
            {% endif %}
            <h1 class="tittle">Sing in</h1>
    
         <form method="POST" action="{% url 'signin' %}" class="divInputs"> {% csrf_token %} 
            <input type="text" class="inputs" placeholder="Usúario" name="username" required>
            <input type="password" class="inputs" placeholder="Senha" name="password" required>
            <input type="submit" class="button" value="Login">
         </form>
    
            <p class="text">Ainda não tem uma conta? <a href="{% url 'signup' %}">Cadastre-se</a> já!</p>
        </div>
    </fieldset>
<p class="credit">Credito da imagem <a href="https://br.pinterest.com/pin/445082375685936822/">aqui</a>!</p>
<p class="credit_mboile">Credito da  <a href="https://br.pinterest.com/pin/27092035254334112/" target="_blank">imagem</a>!</p>

</body>
</html>